<div class="container">
  <h1><i class="icon-dropbox"></i> Box Report</h1>
  <p style="text-align:center;">Calculate the size of your Dropbox folders!</p>
  <a href="/report" class="btn btn-enter">Enter!</a>

</div>
